.elementor-kit-14 {
  --e-global-color-primary:#3F3F3F;
  --e-global-color-secondary:#00BF71;
  --e-global-color-text:#7A7A7A;
  --e-global-color-accent:#00BF71;
  --e-global-color-1d6adeb:#F8F8F8;
  --e-global-color-2a3a006:#E3E3E3;
  --e-global-typography-primary-font-family:"Afacad";
  --e-global-typography-primary-font-weight:700;
  --e-global-typography-primary-line-height:1.1em;
  --e-global-typography-secondary-font-family:"Afacad";
  --e-global-typography-secondary-font-weight:700;
  --e-global-typography-secondary-line-height:1.1em;
  --e-global-typography-text-font-family:"Afacad";
  --e-global-typography-text-font-weight:400;
  --e-global-typography-accent-font-family:"Afacad";
  --e-global-typography-accent-font-weight:500;
  --e-global-typography-e8fb017-font-family:"Afacad";
  color:#7A7A7A;
  font-family:"Heebo", Sans-serif;
  font-weight:400;
}
.elementor-kit-14 button,
.elementor-kit-14 input[type="button"],
.elementor-kit-14 input[type="submit"],
.elementor-kit-14 .elementor-button {
  background-color:#00BF71;
  font-family:"Inter", Sans-serif;
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1.3px;
  color:#FFFFFF;
  border-style:solid;
  border-width:0px 0px 0px 0px;
  padding:18px 32px 18px 32px;
}
.elementor-kit-14 e-page-transition {
  background-color:#FFBC7D;
}
.elementor-kit-14 a {
  color:#00BF71;
  font-family:"Heebo", Sans-serif;
  font-weight:400;
}
.elementor-kit-14 h1 {
  color:#3F3F3F;
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-primary-font-weight );
  line-height:var( --e-global-typography-primary-line-height );
}
.elementor-kit-14 h2 {
  color:#3F3F3F;
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-primary-font-weight );
  line-height:var( --e-global-typography-primary-line-height );
}
.elementor-kit-14 h3 {
  color:#3F3F3F;
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-primary-font-weight );
  line-height:var( --e-global-typography-primary-line-height );
}
.elementor-kit-14 h4 {
  color:#3F3F3F;
  font-family:var( --e-global-typography-primary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-primary-font-weight );
  line-height:var( --e-global-typography-primary-line-height );
}
.elementor-kit-14 h5 {
  color:#3F3F3F;
  font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-secondary-font-weight );
  line-height:var( --e-global-typography-secondary-line-height );
}
.elementor-kit-14 h6 {
  color:var( --e-global-color-primary );
  font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;
  font-weight:var( --e-global-typography-secondary-font-weight );
  line-height:var( --e-global-typography-secondary-line-height );
}
.elementor-kit-14 label {
  color:#3F3F3F;
  font-family:"Inter", Sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:2.2em;
}
.elementor-kit-14 input:not([type="button"]):not([type="submit"]),
.elementor-kit-14 textarea,
.elementor-kit-14 .elementor-field-textual {
  font-family:"Heebo", Sans-serif;
  font-weight:400;
  border-style:solid;
  border-width:1px 1px 1px 1px;
  border-color:#E3E3E3;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width:1140px;
}
.e-con {
  --container-max-width:1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end:20px;
}
.elementor-element {
  --widgets-spacing:20px 20px;
  --widgets-spacing-row:20px;
  --widgets-spacing-column:20px;
}
 {
}
h1.entry-title {
  display:var(--page-title-display);
}
.site-header .site-branding {
  flex-direction:column;
  align-items:stretch;
}
.site-header {
  padding-inline-end:0px;
  padding-inline-start:0px;
}
.site-footer .site-branding {
  flex-direction:column;
  align-items:stretch;
}
@media(max-width:1024px) {
  .elementor-kit-14 h1 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h2 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h3 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h4 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h5 {
    line-height:var( --e-global-typography-secondary-line-height );
  }
  .elementor-kit-14 h6 {
    line-height:var( --e-global-typography-secondary-line-height );
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width:1024px;
  }
  .e-con {
    --container-max-width:1024px;
  }
}
@media(max-width:767px) {
  .elementor-kit-14 h1 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h2 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h3 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h4 {
    line-height:var( --e-global-typography-primary-line-height );
  }
  .elementor-kit-14 h5 {
    line-height:var( --e-global-typography-secondary-line-height );
  }
  .elementor-kit-14 h6 {
    line-height:var( --e-global-typography-secondary-line-height );
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width:767px;
  }
  .e-con {
    --container-max-width:767px;
  }
}
