@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Carousel animation */
  @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-carousel {
    animation: carousel 30s linear infinite;
  }

  .animate-carousel:hover {
    animation-play-state: paused;
  }
}
